.experienceBar {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  span {
    font-size: 1rem;
  }

  > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;

    > div {
      background: var(--green);
      border-radius: 4px;
      height: 100%;
      transition: width 0.5s ease-in-out;
    }
  }
}

.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  transition: left 0.5s ease-in-out;
}
